---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: conjur-authenticator-sa
  namespace: {{ PROJ_NAME }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: conjur-authenticator-role
  namespace: {{ PROJ_NAME }}
rules:
  - verbs:
      - get
      - update
    apiGroups:
      - ''
    resources:
      - secrets
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: conjur-authenticator-rb
  namespace: {{ PROJ_NAME }}
subjects:
  - kind: ServiceAccount
    name: conjur-authenticator-sa
    namespace: {{ PROJ_NAME }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: conjur-authenticator-role
